<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - АНАПА.ДЕТИ</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cookie.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fancybox.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <h1><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">АНАПА.ДЕТИ</a></h1>
            <ul>
                <li id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
            </ul>
        </nav>
    </header>
    <article>
            @RenderBody()
    </article>
    <section id="listmenu">
        <ul class="level-1">
            <li>
                @* <h3>Описание</h3> *@
                <ul class="level-2">
                    <li>
                        <p></p>
                        <ul class="level-3">
                            <li>Анапа</li>
                            <li>Витязево</li>
                            <li>Сукко</li>
                            <li>Большой Утриш</li>
                        </ul>
                    </li>
                    <li>
                        <p></p>
                        <ul class="level-3">
                            <li> <a asp-controller="User" asp-action="Login">Войти</a></li>
                            <li><a asp-controller="User" asp-action="Signup">Регистрация</a></li>
                        </ul>
                    </li>
                    <li>
                        <p></p>
                        <ul class="level-3">
                            <li>Отзывы</li>
                            <li><a asp-controller="Home" asp-action="Contacts">Контакты</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <div class="cookie-v-2">
        <div class="cookie-v-2__content">
            <span class="cookie-v-2__disclaimer">
                Пользуясь сайтом, вы соглашаетесь на использование cookies и принимаете
                <a class="cookie-v-2__disclaimer-link" asp-controller="Home" asp-action="PolitikaPDN">
                    политику конфиденциальности
                </a>
            </span>
            <button class="cookie-v-2__button">Принять</button>
        </div>
    </div>
    <script src="~/js/gsap.min.js"></script>    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cookie.js" asp-append-version="true" defer></script>
    <script src="~/js/popup.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/fancybox.umd.js" asp-append-version="true"></script>
    <script src="~/js/frontend.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
