@using WebAppAnapaDeti.Models._ViewModels.User
@model UserLoginConfirmByLinkFromEmailViewModel
@{
    ViewBag.Title = "Подтверждение входа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <div class="form-signin">
        <div class="form login__form js-form" action="#" autocomplete="off">
            <div class="form__header">
                <h2 class="text text--xl text--bold text--center text--upper form__title">Ошибка при подтверждении входа</h2>
                <p class="text text--center text--xs text--neutral-600 form__text form__text--mt-xs">@Model.ErrorMessage</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-signin">
        <div class="form login__form js-form" action="#" autocomplete="off">
            <div class="form__header">
                <h2 class="text text--xl text--bold text--center text--upper form__title">Вход выполнен успешно.</h2>
                <p class="text text--center text--xs text--neutral-600 form__text form__text--mt-xs">Выполняется переход в личный кабинет</p>
            </div>
        </div>
    </div>
}