@using WebAppAnapaDeti.Models.Entities
@using WebAppAnapaDeti.AppCode
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = ViewBag.Heading;
}
<link rel="stylesheet" href="~/css/reg.css" asp-append-version="true" />
<form method="post" class="form-signin">
    <div class="container">
        <h1 style="margin-bottom: 30px;">Регистрация</h1>
        <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
        <hr>
        <label for="ContactName"><b>Контактное имя</b></label>
        <input type="text" placeholder="Ведите имя контактного лица" name="ContactName" required>
        <label for="Email"><b>Адрес электронной почты</b></label>
        <input type="text" placeholder="Ведите адрес своей электронной почты" name="Email" required>
        <label for="Password"><b>Пароль</b></label>
        <input type="password" placeholder="Ведите пароль" name="Password" required>
        <label for="psw-repeat"><b>Повторите пароль</b></label>
        <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>
        <hr>
        <p>Создавая учетную запись, вы соглашаетесь с нашим <a asp-controller="Home" asp-action="Conf">Условием и конфиденциальностью</a>.</p>
        <button type="submit" class="registerbtn">Зарегистрироваться</button>
    </div>

    <div class="container signin">
        <p>У вас уже есть аккаунт? <a asp-controller="User" asp-action="Login">Вход</a>.</p>
    </div>
</form>
@*
<script defer src="~/js/user/registration.js" asp-append-version="true"></script>
 *@
