@using WebAppAnapaDeti.Models.Entities
@using WebAppAnapaDeti.AppCode
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = ViewBag.Heading;
}
<style>
  
    * {
        box-sizing: border-box;
    }

    /* Добавление отступов в контейнеры */
    .container {
        padding: 16px;
        background-color: white;
    }

    /* Поля ввода полной ширины */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Изменять стили hr по умолчанию */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Установите стиль для кнопки отправить */
    .registerbtn {
        background-color: var(--red);
        padding: 12px 16px;
        margin: 4px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.6;
        text-transform: uppercase;
        color: var(--white);
        font-size: 1.0rem;
    }

        .registerbtn:hover {
            opacity: 1;
        }

    /* Добавление синего цвета текста к ссылкам */
    a {
        color: dodgerblue;
    }

    /* Установите серый цвет фона и центрируйте текст раздела вход */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }

    .form-signin
    {
        margin:10%;
    }
</style>
<form method="post" class="form-signin">
    <div class="container">
        <h2>Регистрация</h2>
        <p>Пожалуйста, заполните эту форму, чтобы создать учетную запись.</p>
        <hr>
        <label for="ContactName"><b>Контактное имя</b></label>
        <input type="text" placeholder="Ведите имя контактного лица" name="ContactName" required>
        <label for="Email"><b>Адрес электронной почты</b></label>
        <input type="text" placeholder="Ведите адрес своей электронной почты" name="Email" required>
        <label for="Password"><b>Пароль</b></label>
        <input type="password" placeholder="Ведите пароль" name="Password" required>
        <label for="psw-repeat"><b>Повторите пароль</b></label>
        <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>
        <hr>
        <p>Создавая учетную запись, вы соглашаетесь с нашим <a asp-controller="Home" asp-action="Conf">Условием и конфиденциальностью</a>.</p>
        <button type="submit" class="registerbtn">Зарегистрироваться</button>
    </div>

    <div class="container signin">
        <p>У вас уже есть аккаунт? <a asp-controller="User" asp-action="Login">Вход</a>.</p>
    </div>
</form>
@*
<script defer src="~/js/user/registration.js" asp-append-version="true"></script>
 *@
