@{
    ViewData["Title"] = "Главная";
}

<main>
    <article id="hero-1" style="--i: 6">
        <div class="hero-info">
            <h2>рассветы</h2>
            <h1>закаты</h1>
            <h3>Анапа, Россия</h3>
        </div>
        <div class="hero-image hi-1"></div>
    </article>
    <article id="hero-2" style="--i: 5">
        <div class="hero-info">
            <h2>Счастливое детство</h2>
            <h1>Радость</h1>
            <h3>Анапа, Россия</h3>
        </div>
        <div class="hero-image hi-2"></div>
    </article>
    <article id="hero-3" style="--i: 4">
        <div class="hero-info">
            <h2>Прогулки</h2>
            <h1>чистый воздух</h1>
            <h3>Анапа, Россия</h3>
        </div>
        <div class="hero-image hi-3"></div>
    </article>
    <article id="hero-4" style="--i: 3">
        <div class="hero-info">
            <h2>Горы</h2>
            <h1>Пещеры</h1>
            <h3>Анапа, Россия</h3>
        </div>
        <div class="hero-image hi-4"></div>
    </article>
    <article id="hero-5" style="--i: 2">
        <div class="hero-info">
            <h2>Море</h2>
            <h1>Лето</h1>
            <h3>Анапа, Россия</h3>
        </div>
        <div class="hero-image hi-5"></div>
    </article>
    <article id="hero-6" style="--i: 1">
        <div class="hero-info">
            <h2>Сайт в разработке</h2>
            <h1>Тестовая версия</h1>
            <h3>Анапа, Россия</h3>
        </div>
        <div class="hero-image hi-6"></div>
    </article>
</main>
@section scripts {
    <script src="~/js/index.js" asp-append-version="true" defer></script>
}