

* {
    box-sizing: border-box;
}

/* Добавление отступов в контейнеры */
.container {
    padding: 16px;
    background-color: white; 
    font: 1.4rem FuturaNewBook;
}


/* Поля ввода полной ширины */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

/* Изменять стили hr по умолчанию */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Установите стиль для кнопки отправить */
.registerbtn {
    background-color: var(--color-blue-500);
    padding: 12px 16px;
    margin: 24px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    text-transform: uppercase;
    color: var(--white);
    font: 1.4rem FuturaNewBook;
}

    .registerbtn:hover {
        opacity: 1;
    }

/* Добавление синего цвета текста к ссылкам */
a {
    color: dodgerblue;
}

/* Установите серый цвет фона и центрируйте текст раздела вход */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.form-signin {
    margin: 7% 10%;
}
